<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/navbar.css" />
        <link rel="stylesheet" href="../styles/globals.css" />
        <link
            rel="shortcut icon"
            href="../assets/img/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="../assets/fonts/HelveticaNowDisplay/font.css"
        />
        <link rel="stylesheet" href="../styles/hero.css" />
        <link rel="stylesheet" href="../styles/blog-card.css" />
        <title>Component: Blog Card</title>
    </head>
    <body>
        <div class="blog_card">
            <a href="/blog/dummy">
                <div class="blog_card_image_container">
                    <img
                        src="../assets/img/blogs/blogpost_dummy.png"
                        alt="Blog post cover"
                        class="blog_card_image"
                    />
                </div>
                <div class="blog_card_content">
                    <h5 class="blog_card_category">Categoría</h5>
                    <h3 class="blog_card_title">Titulo</h3>
                    <p class="blog_card_description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quisquam, voluptatum.
                    </p>
                    <div class="blog_card_author">
                        <img
                            src="../assets/img/logos/siafi-icon.png"
                            alt="Autor pf"
                        />
                        <p>Autor</p>
                    </div>
                </div>
            </a>
        </div>
    </body>
</html>
