<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/navbar.css" />
        <link rel="stylesheet" href="../styles/globals.css" />
        <link rel="stylesheet" href="../styles/footer.css" />
        <link
            rel="shortcut icon"
            href="../assets/img/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="../assets/fonts/HelveticaNowDisplay/font.css"
        />
        <link rel="stylesheet" href="../styles/hero.css" />
        <link rel="stylesheet" href="../styles/blog-card.css" />
        <title>Component: Footer</title>
    </head>
    <body>
        <footer>
            <div class="footer_content">
                <!-- First column -->
                <div>
                    <a href="/">
                        <img
                            src="../assets/img/logos/siafi-logo-white.png"
                            alt="SIAFI logo white"
                            class="footer_logo"
                        />
                    </a>
                    <!-- Social media links -->
                    <div class="footer_socials">
                        <a
                            href="https://www.instagram.com/unam.siafi/"
                            target="_blank"
                        >
                            <img
                                src="../assets/img/footer/instagram-bubble.svg"
                                alt="Instagram"
                            />
                        </a>
                        <a
                            href="https://www.facebook.com/UNAM.SIAFI"
                            target="_blank"
                        >
                            <img
                                src="../assets/img/footer/facebook-bubble.svg"
                                alt="Facebook"
                            />
                        </a>
                        <a
                            href="https://www.linkedin.com/company/siafiunam/"
                            target="_blank"
                        >
                            <img
                                src="../assets/img/footer/linkedin-bubble.svg"
                                alt="LinkedIn"
                            />
                        </a>
                        <a
                            href="https://www.tiktok.com/@unam.siafi"
                            target="_blank"
                        >
                            <img
                                src="../assets/img/footer/tiktok-logo.svg"
                                alt="TikTok"
                            />
                        </a>
                        <a
                            href="https://www.youtube.com/c/SIAFIUNAM"
                            target="_blank"
                        >
                            <img
                                src="../assets/img/footer/youtube-bubble.svg"
                                alt="TikTok"
                            />
                        </a>
                    </div>
                    <div class="footer_direction">
                        <h4>Dirección</h4>
                        <p>
                            Edificio CIA, 4to piso, conjunto sur, Circuito
                            interior 3000 Col. Universidad Nacional Autónoma de
                            México Coyoacán, C.P. 04510 Ciudad de México, México
                        </p>
                    </div>
                </div>
                <!-- Second Column -->
                <div></div>
                <!-- Third Column -->
                <div class="footer_links_list">
                    <h4>Contacto</h4>
                    <ul>
                        <li>
                            <a href="mailto:contacto@siafi-unam.org"
                                >contacto@siafi-unam.org</a
                            >
                        </li>
                    </ul>
                </div>
                <!-- Fourth Column -->
                <div class="footer_links_list">
                    <h4>Navegación</h4>
                    <ul>
                        <li><a href="/#nosotros">Nosotros</a></li>
                        <li><a href="/proyectos/">Proyectos</a></li>
                        <li><a href="/eventos/">Eventos</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/contacto/">Contacto</a></li>
                    </ul>
                </div>
                <!-- Fifth Column -->
                <div class="footer_links_list footer_logos">
                    <h4>Instituciones</h4>
                    <ul>
                        <li>
                            <a
                                href="https://www.ingenieria.unam.mx/dimei/"
                                target="_blank"
                                ><img
                                    src="../assets/img/logos/dimei-logo.png"
                                    alt="DIMEI"
                            /></a>
                        </li>
                        <li>
                            <a
                                href="https://www.ingenieria.unam.mx/cia/"
                                target="_blank"
                                ><img
                                    src="../assets/img/logos/cia-logo.png"
                                    alt="CIA"
                            /></a>
                        </li>
                        <li>
                            <a
                                href="https://www.ingenieria.unam.mx/"
                                target="_blank"
                                ><img
                                    src="../assets/img/logos/fi-logo.png"
                                    alt="Facultad de Ingeniería"
                            /></a>
                        </li>
                        <li>© SIAFI 2024. México</li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
