<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/navbar.css" />
        <link rel="stylesheet" href="../styles/globals.css" />
        <link
            rel="shortcut icon"
            href="../assets/img/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="../assets/fonts/HelveticaNowDisplay/font.css"
        />
        <link rel="stylesheet" href="../styles/hero.css" />
        <title>Component: Hero</title>
    </head>
    <body>
        <header class="hero_container">
            <img
                src="../assets/img/hero/background-figure.svg"
                class="hero_background_figure"
                alt="background-figure"
            />
            <div class="hero_card_title">
                <h1>
                    Sociedad de Inteligencia Artificial de la Facultad de
                    Ingeniería <span>UNAM</span>
                </h1>
                <img
                    src="../assets/img/hero/robot-blanco.png"
                    alt="White robot"
                />
            </div>
            <div></div>
            <div class="hero_card_ig_histories">
                <div class="ig_progress_shade"></div>
                <div class="hero_card_ig_histories_top_ui">
                    <div class="ig_progress">
                        <div class="progress_bar">
                            <div class="progress_bar_fill"></div>
                        </div>
                        <div class="progress_bar"></div>
                        <div class="progress_bar"></div>
                    </div>
                    <!-- Username -->
                    <div class="ig_username">
                        <img
                            src="../assets/img/logos/siafi-icon.png"
                            alt="Instagram logo"
                        />
                        <p>siafi_unam</p>
                    </div>
                </div>
            </div>
            <p class="follow_us_instagram">
                Siguenos en
                <a href="https://www.instagram.com/unam.siafi/" target="_blank"
                    >Instagram</a
                >
            </p>
        </header>
    </body>
</html>
