<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/navbar.css" />
        <link rel="stylesheet" href="../styles/globals.css" />
        <link
            rel="shortcut icon"
            href="../assets/img/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="../assets/fonts/HelveticaNowDisplay/font.css"
        />
        <title>Component: Navbar</title>
    </head>
    <body>
        <nav class="navbar_container">
            <div class="navbar_logo">
                <a href="/">
                    <img
                        src="../assets/img/logos/siafi-logo.svg"
                        alt="SIAFI Logo"
                        width="117"
                    />
                </a>
            </div>
            <ul class="navbar_links">
                <li><a href="/#nosotros">Nosotros</a></li>
                <li><a href="/proyectos/">Proyectos</a></li>
                <!-- <li><a href="/eventos/">Eventos</a></li> -->
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/contacto/">Contacto</a></li>
            </ul>
        </nav>
    </body>
</html>
