<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/navbar.css" />
        <link rel="stylesheet" href="../styles/globals.css" />
        <link rel="stylesheet" href="../styles/project-card.css" />
        <link
            rel="shortcut icon"
            href="../assets/img/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="../assets/fonts/HelveticaNowDisplay/font.css"
        />
        <link rel="stylesheet" href="../styles/hero.css" />
        <link rel="stylesheet" href="../styles/blog-card.css" />
        <title>Component: Blog Card</title>
    </head>
    <body>
        <div class="project_card">
            <div class="project_card_shade"></div>
            <img
                src="../assets/img/blogs/blog-dummy-robot.jpeg"
                alt="Cover image"
                class="project_card_cover_image"
            />
            <div class="project_card_info">
                <h4>Proyecto</h4>
                <p>
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum
                </p>
            </div>
        </div>
    </body>
</html>
