<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/navbar.css" />
        <link rel="stylesheet" href="../styles/globals.css" />
        <link rel="stylesheet" href="../styles/project-card.css" />
        <link
            rel="shortcut icon"
            href="../assets/img/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="../assets/fonts/HelveticaNowDisplay/font.css"
        />
        <link rel="stylesheet" href="../styles/hero.css" />
        <link rel="stylesheet" href="../styles/blog-card.css" />
        <link rel="stylesheet" href="../styles/blog-carrousel.css" />
        <title>Component: Blog Card</title>
    </head>
    <body>
        <div class="slider">
            <div class="slide">
                <div class="project_card">
                    <div class="project_card_shade"></div>
                    <div class="project_card_info">
                        <h4>WALLE</h4>
                        <p>
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        </p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="project_card">
                    <div class="project_card_shade"></div>
                    <div class="project_card_info">
                        <h4>Proyecto 0</h4>
                        <p>
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        </p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="project_card">
                    <div class="project_card_shade"></div>
                    <div class="project_card_info">
                        <h4>Proyecto 1</h4>
                        <p>
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        </p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="project_card">
                    <div class="project_card_shade"></div>
                    <div class="project_card_info">
                        <h4>Proyecto 2</h4>
                        <p>
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        </p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="project_card">
                    <div class="project_card_shade"></div>
                    <div class="project_card_info">
                        <h4>Proyecto 3</h4>
                        <p>
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        </p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="project_card">
                    <div class="project_card_shade"></div>
                    <div class="project_card_info">
                        <h4>Proyecto 4</h4>
                        <p>
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="../scripts/blog-carrousel.js"></script>
</html>
