<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/navbar.css" />
        <link rel="stylesheet" href="../styles/globals.css" />
        <link
            rel="shortcut icon"
            href="../assets/img/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="../assets/fonts/HelveticaNowDisplay/font.css"
        />
        <link rel="stylesheet" href="../styles/hero.css" />
        <link rel="stylesheet" href="../styles/blog-card.css" />
        <link rel="stylesheet" href="../styles/team-member.css" />
        <title>Component: Team member</title>
    </head>
    <body>
        <div class="photo_container">
            <img
                src="../assets/img/nuestro-equipo/christian.png"
                alt="Member photo"
            />
            <h6>Christian Alejandro Leyva Mercado</h6>
            <p>Presidente</p>
        </div>
    </body>
</html>
